VITE_API_URL=/api
VITE_SUPABASE_URL=https://rwjoenvecmyivyhacktv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3am9lbnZlY215aXZ5aGFja3R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzMzkzODMsImV4cCI6MjA4OTkxNTM4M30.IRFnj_9UWcENxR06QB1IrcqPPY_X40ZS14v2NRSRHQg
